<h3>Your Account</h3>

<dl class="lh-title pa4 mt0">
  <dt class="f6 b">Email</dt>
  <dd class="ml0"><%= @user.email %></dd>

  <dt class="f6 b">Last signed in at</dt>
  <dd class="ml0"><%= @session.last_signed_in_at %></dd>
</dl>

<%= link("Edit", to: Routes.user_path(@conn, :edit)) %>

|

<%= link(
  "Delete your account",
  to: Routes.user_path(@conn, :delete),
  method: :delete,
  data: [confirm: "Are you sure?"]
) %>
